body {
    
    min-height: 100vh;
    margin: 0;
    
  
    background: linear-gradient(
        135deg, 
        #ffcb9a, 
        #d1b3ff, 
        #b2f5b2, 
        #e8cbf5  
    );
    
    
    background-attachment: fixed; 

    font-family: sans-serif;
    color: #333; 
}
