body {

    min-height: 100px;
    margin: 15px;
    background-attachment: fixed; 
    background-color: #ee8af7cf;
    font-family: sans-serif;
    color: #333; 
    font-family: 'Quicksand', sans-serif;
}
.content {
  flex: 1;
}

footer {
  background-color: #ff96f8c9;
  color: white;
  padding: 25px;
  text-align: center;
}
